.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_tools {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}